/* #viewer {
    width: 100vw;
    height: 100vh;
} */

.controlBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
}

.destBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoText {
    text-align: center;
    width: 40vw;
    font-size: max(2vw, 2vh);
}

.buttonDiv {
    text-align: center;
}

.customButton {
    justify-content: center;
    width: 25vw;
    height: min(8vw, 8vh);
    font-size: max(2vw, 2vh);

    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    outline: none;
    overflow: hidden;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.customButton:disabled {
  cursor: default;
}

.customButton:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}