<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><img src="https://ukhealthcare.uky.edu/themes/custom/ukhc/images/ukhc-logo-small.png" ></img>HOSPITAL GPS</title>
    <link rel="stylesheet">
    <link rel="shortcut icon" href="https://ukhealthcare.uky.edu/themes/custom/ukhc/images/ukhc-logo-small.png" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        img {
                position: absolute;
                top: 430px;
                left: 5px;
            }

        .logo-image {
             position:static;
             left:60px;
             top:2px;
             margin: 0px 15px 15px 0px;
        }

        #dir-format {
             text-align: center;
             color: white;
             background-color: gray;
        }
    </style>

  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/photo-sphere-viewer/dist/photo-sphere-viewer.css') }}"/> <!-- Load in .css file -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container-fluid">
          <img class="logo-image" src="https://ukhealthcare.uky.edu/themes/custom/ukhc/images/ukhc-logo-small.png"></img>

          <a class="navbar-brand" href="http://localhost:36824">GPS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Entrances
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    {% for startpoint in startpoints %}
                        <li><a class="dropdown-item" href="http://localhost:36824/{{ startpoint }}&{{ end }}">{{ startpoint }}</a></li>
                    {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Destinations
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    {% for endpoint in endpoints %}
                        <li><a class="dropdown-item" href="http://localhost:36824/{{ start }}&{{ endpoint }}">{{ endpoint }}</a></li>
                    {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid" id="dir-format">
          <h3 style="display:inline">Directions</h3>
          {% if start != "NULL" %}
            <h3 style="display:inline">for {{ start }}</h3>
          {% endif %}
          {% if end != "NULL" %}
            <h3 style="display:inline">to {{ end }}</h3>
          {% endif %}
          
          <ol>
              {% for location in path %}
              <li id="{{ location.name }}" style="display:inline; border-radius: 8px; border-width:3px; border-style:solid; border-color:	#0000FF;">{{ location.name }}</li>
              {% endfor %}
          </ol>
      </div>
	<!-- images we don't want for now
    <img src="https://static.wixstatic.com/media/22d860_01bdd4d2d051442e9587b36b76bb5fa3~mv2.jpg/v1/fill/w_600,h_405,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/chandler-first-floor.jpg" class="img-fluid mx-auto d-block" alt="...">
    <img src="https://img.freepik.com/free-photo/blurred-abstract-background-interior-view-looking-out-toward-empty-office-lobby-entrance-doors-glass-curtain-wall-with-frame_1339-6370.jpg?w=996&t=st=1665948644~exp=1665949244~hmac=be09c965a4642191e1ae612e16fb501d76aacf89968fc0249420c5644b802cdf" class="float-start rounded" width="200" height="200">
    -->
    
    <button onclick="prevImage()" type="button" class="btn btn-secondary btn-lg">BACK</button>
    <button onclick="nextImage()" type="button" class="btn btn-primary btn-lg">NEXT</button>
      
    <button onclick="toggleViewer()" id=dim_button class="btn btn-success btn-lg" >3D-View</button>


<!-- Load in the photosphere dependencies -->
<script src="{{ url_for('static', filename='node_modules/three/build/three.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/uevent/browser.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/photo-sphere-viewer/dist/photo-sphere-viewer.js') }}"></script>

<!-- Make space to write in directions -->
<p id="directions"> <strong><ins><mark></mark></ins></strong></p>

<!-- Define the size of the viewer -->
<div id="viewer" style="width:100vw; height: 50vh;"></div>


<!-- Initialize a Photo viewer -->
<script>
    var current = 0;
    var path = {{ jsonPath|safe }}
    
    let imName = "{{ start }}";
    // If we only have start
    if ("{{ start }}" != "NULL" && "{{ end }}" == "NULL") {
      document.getElementById("directions").innerHTML = "<strong><ins><mark>" + 
              "You are currently at " + "{{ start }}" + ". Please choose a Destination from the menu." 
              "</mark></ins></strong>";
      var viewer = new PhotoSphereViewer.Viewer({ // initialize new photosphereviewer
        container: document.querySelector('#viewer'),
         panorama: "http://localhost:36824/get_image/" + "{{ start }}",
          caption: "{{ start }}",
		  defaultLong: 0.0,
      });
    }
    else {
      document.getElementById("directions").innerHTML = "<strong><ins><mark>" + 
              path[0].string_direction + 
              "</mark></ins></strong>";
      var viewer = new PhotoSphereViewer.Viewer({ // initialize new photosphereviewer
        container: document.querySelector('#viewer'),
         panorama: "http://localhost:36824/get_image/" + path[0].name,
          caption: path[0].name,
		  defaultLong: path[0].angle,
      });
    }

      document.getElementById("viewer").style.display = "none"; // hide the display
      
      document.getElementById("{{ start }}").style.fontWeight = "bold";
      function nextImage() {
        if (current+1 < path.length){
            var element = document.getElementById(path[current].name);
            element.style.fontWeight = "normal";
            current += 1;
			      document.getElementById("directions").innerHTML = "<strong><ins><mark>" + 
              path[current].string_direction + 
              "</mark></ins></strong>";
            viewer.setPanorama("http://localhost:36824/get_image/" + path[current].name);
            viewer.setOptions({
				caption: path[current].name,
			});
			//different angles of cameras can cause jarring turns in animation, this should fix:
			start_angle = path[current].angle_back;
			if (start_angle < 0.0) {
				start_angle = start_angle + 3.14159;
			} else {
				start_angle = start_angle - 3.14159;
			}
			viewer.rotate({
				longitude: start_angle,
				latitude: 0.0,
			});
			viewer.animate({
				longitude: path[current].angle,
				latitude: 0.0,
				zoom: 0,
				speed: '8rpm',
			});
            var element = document.getElementById(path[current].name);
            element.style.fontWeight = "bold";
        }
      }
    
    function prevImage() {
      if (current-1 >= 0){
            var element = document.getElementById(path[current].name);
            element.style.fontWeight = "normal";
            current -= 1;
            document.getElementById("directions").innerHTML = "<strong><ins><mark>" + 
              path[current].string_direction + 
              "</mark></ins></strong>";
            viewer.setPanorama("http://localhost:36824/get_image/" + path[current].name);

            viewer.setOptions({
				caption: path[current].name,
			});
			start_angle = path[current].angle_back;
			if (start_angle < 0.0) {
				start_angle = start_angle + 3.14159;
			} else {
				start_angle = start_angle - 3.14159;
			}
			viewer.rotate({
				longitude: start_angle,
				latitude: 0.0,
			});
			viewer.animate({
				longitude: path[current].angle,
				latitude: 0.0,
				zoom: 0,
				speed: '8rpm',
			});
            element = document.getElementById(path[current].name);
            element.style.fontWeight = "bold";
      }
    }
</script>
<!-- Still not fuctional currently -->

<script>
  /*
   * Function toggles the dimension of the view between 2-d and 3-d for the user upon click of button
   * Bug: Once the viewer is removed it cannot be recovered // looking into documentation abouth either photosphere viewer
   * // or a way to hide element instead of remove
  */
  function toggleViewer() {
    var t = document.getElementById("dim_button");
    if (t.innerHTML == "3D-View"){ // if the view is 2-D
      t.innerHTML = "2D-View"; // Set the button to new 2-D value
      document.getElementById("viewer").style.display = "block"; // show the viewer
      document.getElementById("img1").style.display = "none";
      document.getElementById("img2").style.display = "none";
    }
    else { // view in 3-d
      t.innerHTML = "3D-View"; // switch the button and remove the viewer
      document.getElementById("viewer").style.display = "none"; // hide the viewer
      document.getElementById("img1").style.display = "block";
      document.getElementById("img2").style.display = "block";
    }
}
</script>

<!--<script>-->
<!--  function nextImage() {-->
<!--    var t = document.getElementById("dim_button")-->
<!--    if (t.innerHTML == "2D-View") // if the website is in 3D-Mode-->
<!--    {-->
<!--       // use the api to obtain the next image from server-->
<!--      viewer.setPanorama('https://www.openfootage.net/Openfootage/Vorschau/00309_Snow/00309_Snow_Preview_360_Panorama.jpg'); // insert the image into the photoviewer-->
<!--      // store the last image in a buffer-->
<!--      console.log("Ran Next Image");-->
<!--    }-->
<!--  }-->
<!--</script>-->
</body>
</html>
