.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--kentuckyBlue);
    height: 10vh;
}

.UKLogo {
    padding-top: 1vh;
    height: 8vh;
}

.Header-links-div {
    display: flex;
    position: absolute;
    top: 4vh;
    right: min(25px, 25vw)
}

.Header-link {
    color: white;
    padding-right: 2vw;
    padding-left: 2vw;
    font-family: "KentuckyFont_2";
    font-size: min(20px, 3vw);
    text-decoration: none;
}